body {
    background: linear-gradient(300deg,blue,darkviolet,deepskyblue);
    background-size: 400% 400%;
    animation: gradient-animation 20s infinite;
  }

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.panel {
    background-color: aliceblue;
    border-radius: 6px;
    width: 20em;
    padding-bottom: 2em;
}
.link {
    background-color: antiquewhite;
    color:burlywood;
    text-decoration: none;
    border-radius: 6px;
}
.linkdropdown{
    position: relative;
    display: inline-block;
}
.linkdropdowncontent{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 6px;
    z-index: 1;
}
.linkdropdown:hover .linkdropdowncontent{
    display:block;
}
  @keyframes gradient-animation {
    0% {
      background-position: 50% 75%;
    }
    100% {
      background-position: 75% 50%;
    }
  }